@model RegisterViewModel

@{
    ViewData["Title"] = "Register page";
}
<div class="container">
    <div class="row">

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }
        <div class="col-md-6">
            <div class="register-image mx-5">
                <img src="~/img/png/frau.png" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="register-form">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label mt-3"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label mt-3"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label mt-3"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right mt-3" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary mt-3" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>