<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanguageCourses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/LanguageCourses.styles.css" asp-append-version="true" /> *@
</head>
<body class="body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./img/svg/logo.svg" alt="logo">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Home" aria-current="page">
                                Home <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Course" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Teacher" asp-action="Index">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button class="btn btn-outline-danger">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex my-2 my-lg-0">
                        <a asp-controller="User" asp-action="Index">
                            <img src="./img/svg/icon-user.svg" alt="user-icon">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-text pt-5">
                <ul class="row">
                    <li class="col-3">
                        <p>Fluency is nothing more than mastering the 100 most important real-life conversations</p>
                        <ul class="social-list row">
                            <li class="col-1">
                                <a href="#">
                                    <img src="./img/svg/Facebook.svg">
                                </a>
                            </li>
                            <li class="col-1 mx-2">
                                <a href="#">
                                    <img src="./img/svg/LinkedIn.svg">
                                </a>
                            </li>
                            <li class="col-1 mx-2">
                                <a href="#">
                                    <img src="./img/svg/Twitter.svg">
                                </a>
                            </li>
                            <li class="col-1 mx-2">
                                <a href="#">
                                    <img src="./img/svg/Pinterest.svg">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-3">
                        <p><strong>Speak up courses</strong></p>
                        <p class="my-0"><a>Learn english</a></p>
                        <p class="my-0"><a>Learn german</a></p>
                        <p class="my-0"><a>Learn french</a></p>
                    </li>
                    <li class="col-3">
                        <p><strong>Products</strong></p>
                        <p class="my-0"><a>Landing page</a></p>
                        <p class="my-0"><a>About us</a></p>
                        <p class="my-0"><a>Contact us</a></p>
                    </li>
                    <li class="col-3">
                        <p><strong>Contact information</strong></p>
                        <p class="my-0"><a>+32343793486</a></p>
                        <p class="my-0"><a>Info@speakup.we</a></p>
                        <p class="my-0"><a>barcelona, C/ de sardenya</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
